body {
  font: 12px Arial,Verdana,"\5b8b\4f53";
  color: #666;
  background: #fff;}

.container {
  width: 1190px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.fl {
  float: left; }

.fr {
  float: right; }

.hide {
  display: none; }

.ac {
  text-align: center; }
