/*重置性样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{ margin:0; padding:0; }
fieldset, img,input{ border:0 none; outline-style:none; }
ul,li,ol{ list-style:none; }
select, input { vertical-align:middle;}
textarea { resize:none; }
img {border:0; vertical-align:middle; }  
table { border-collapse:collapse; }
a {text-decoration:none; }
