#top {
  border-bottom: 1px solid #ccc;
  height: 36px; }
  #top .container {
    width: 990px;
    margin: 0 auto; }
    #top .container .top_l {
      width: 209px;
      height: 36px; }
      #top .container .top_l .shouc {
        width: 108px;
        height: 36px;
        padding-right: 15px; }
        #top .container .top_l .shouc a {
          font-size: 14px;
          color: #666;
          line-height: 36px;
          text-align: center; }
          #top .container .top_l .shouc a i {
            color: #ff6655;
            display: inline-block;
            margin-right: 5px; }
        #top .container .top_l .shouc:hover a {
          color: #ff6655; }
      #top .container .top_l .city {
        width: 66px;
        height: 36px;
        padding: 0 10px;
        position: relative; }
        #top .container .top_l .city a {
          color: #e45;
          line-height: 36px;
          font-size: 14px;
          font-weight: bold;
          text-align: center; }
        #top .container .top_l .city .bigCity {
          position: absolute;
          left: -1px;
          top: 35px;
          width: 450px;
          border: 1px solid #ccc;
          border-top: 0 none;
          display: none; }
          #top .container .top_l .city .bigCity dl {
            border-bottom: 1px dashed #ccc;
            padding: 3px 15px; }
            #top .container .top_l .city .bigCity dl dt {
              font-size: 14px;
              line-height: 36px;
              color: #999;
              float: left;
              display: block;
              height: 36px; }
            #top .container .top_l .city .bigCity dl dd {
              font-size: 14px;
              line-height: 32px;
              color: #999;
              float: left;
              display: block;
              height: 32px;
              padding: 2px 8px;
              margin-right: 18px; }
              #top .container .top_l .city .bigCity dl dd:hover {
                color: #ff6655; }
          #top .container .top_l .city .bigCity .last {
            border-bottom: 0 none; }
        #top .container .top_l .city:hover {
          border: 1px solid #ccc;
          width: 64px;
          height: 34px;
          border-bottom: 1px solid #fff; }
        #top .container .top_l .city:hover .bigCity {
          display: block;
          background: #fff;
          z-index: 10; }
    #top .container .top_r {
      height: 36px; }
      #top .container .top_r li {
        margin: 10px 0;
        padding: 0  10px;
        border-right: 1px solid #ccc;
        font-size: 16px;
        text-align: center; }
        #top .container .top_r li a {
          color: #333; }
        #top .container .top_r li i {
          color: #ff6655; }
        #top .container .top_r li:hover a {
          color: #ff6655;
          text-decoration: underline; }
      #top .container .top_r .boqi {
        border-right: 0 none;
        position: relative;
        height: 36px; }
        #top .container .top_r .boqi .menu {
          width: 100px;
          position: absolute;
          left: -1px;
          top: 36px;
          display: none; }
          #top .container .top_r .boqi .menu a {
            display: block;
            border-bottom: 1px dashed #ccc;
            text-align: center;
            padding: 0 8px;
            line-height: 26px;
            font-size: 14px;
            height: 26px;
            color: #333;
            text-decoration: none; }
            #top .container .top_r .boqi .menu a i {
              color: #ff6655; }
            #top .container .top_r .boqi .menu a:hover {
              color: #ff6655;
              text-decoration: underline; }
        #top .container .top_r .boqi:hover {
          margin: 0;
          height: 34px;
          border: 1px solid #ccc; }
        #top .container .top_r .boqi:hover .menu {
          display: block;
          background: #fff; }

#logo .container {
  width: 990px;
  margin: 0 100px;
  padding: 15px 0; }
  #logo .container .logo_l {
    width: 240px;
    height: 100px;
    background: url(../img/logos.jpg) no-repeat; }
  #logo .container .logo_c {
    width: 460px;
    margin: 34px 0 0 55px;
    height: 66px; }
    #logo .container .logo_c input {
      display: block;
      padding: 5px 10px;
      border: 3px solid #ff6655;
      width: 354px;
      height: 26px;
      float: left; }
    #logo .container .logo_c button {
      display: block;
      border: 0 none;
      width: 80px;
      height: 42px;
      background: #ff6655;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      line-height: 42px; }
    #logo .container .logo_c p {
      width: 460px;
      height: 16px;
      margin-top: 5px; }
      #logo .container .logo_c p span {
        font-size: 12px;
        line-height: 16px;
        color: #999; }
      #logo .container .logo_c p a {
        font-size: 12px;
        line-height: 16px;
        color: #999; }
        #logo .container .logo_c p a:hover {
          color: #ff6655; }
  #logo .container .logo_r {
    width: 180px;
    height: 40px;
    margin-top: 30px;
    background: url(../img/shop.gif) no-repeat; }

#nav {
  background: #ff6655; }
  #nav .container {
    width: 990px;
    margin: 0 auto; }
    #nav .container .nav_l {
      z-index: 1;
      width: 170px;
      height: 36px;
      padding: 0 10px;
      background: #c20;
      position: relative; }
      #nav .container .nav_l h3 {
        margin-bottom: 10px; }
      #nav .container .nav_l a {
        font-size: 16px;
        line-height: 36px;
        font-weight: bold;
        color: #fff; }
      #nav .container .nav_l i {
        display: inline-block; }
      #nav .container .nav_l:hover .sort {
        display: block; }
      #nav .container .nav_l .sort {
        position: absolute;
        left: 0;
        top: 36px;
        height: 450px;
        width: 188px;
        border: 1px solid #c20;
        border-top: 0 none;
        display: none;
        background: #fff; }
        #nav .container .nav_l .sort .zoo {
          border-bottom: 1px solid #ccc; }
          #nav .container .nav_l .sort .zoo:hover .third {
            display: block; }
          #nav .container .nav_l .sort .zoo:hover h3 span {
            display: none; }
        #nav .container .nav_l .sort .rim {
          border-bottom: 0 none; }
        #nav .container .nav_l .sort h3 {
          width: 183px;
          height: 18px;
          margin-top: 4px;
          padding-left: 5px;
          font-size: 16px;
          line-height: 18px; }
          #nav .container .nav_l .sort h3 i {
            color: #ff6655; }
          #nav .container .nav_l .sort h3 a {
            color: #333; }
          #nav .container .nav_l .sort h3:hover a {
            color: #ff6655;
            text-decoration: underline; }
          #nav .container .nav_l .sort h3 span {
            color: #ccc;
            font-size: 12px;
            line-height: 18px;
            float: right;
            padding-right: 5px;
            padding-top: 6px; }
        #nav .container .nav_l .sort .content {
          padding: 5px 8px; }
          #nav .container .nav_l .sort .content span {
            font-size: 16px;
            line-height: 18px;
            display: inline-block;
            width: 55px;
            padding-top: 5px; }
            #nav .container .nav_l .sort .content span:hover {
              color: #ff6655; }
        #nav .container .nav_l .sort .third {
          width: 612px;
          height: 437px;
          position: absolute;
          padding: 5px 20px;
          border: 2px solid #cf2d0d;
          left: 188px;
          top: 0;
          display: none;
          background: #fff; }
    #nav .container .nav_c ul li a {
      display: block;
      height: 36px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 36px;
      color: #fff; }
    #nav .container .nav_c ul li:hover a {
      background: #9a0000; }
    #nav .container .nav_r {
      width: 142px;
      height: 36px;
      position: relative;
      background: #c20; }
      #nav .container .nav_r .shopping {
        font-size: 16px;
        line-height: 36px;
        color: #fff; }
        #nav .container .nav_r .shopping i {
          display: inline-block;
          padding: 0 5px; }
        #nav .container .nav_r .shopping a {
          display: inline-block;
          color: #fff; }
        #nav .container .nav_r .shopping #number {
          display: inline-block;
          padding: 0 5px; }
      #nav .container .nav_r #goods {
        position: absolute;
        width: 300px;
        padding: 2px;
        right: 0;
        top: 36px;
        display: none;
        border: 2px solid #fff;
        background: #fff;
        z-index: 100; }
        #nav .container .nav_r #goods h2 {
          width: 290px;
          height: 46px;
          padding-left: 10px;
          font-size: 14px;
          line-height: 46px;
          color: #666;
          background: #f3f3f3;
          text-align: center; }
        #nav .container .nav_r #goods #car {
          width: 290px;
          padding-left: 10px; }
        #nav .container .nav_r #goods .price {
          font-size: 14px;
          line-height: 40px;
          color: #666;
          background: #f3f3f3;
          width: 200px;
          padding-left: 100px; }
          #nav .container .nav_r #goods .price .sum {
            color: #e53;
            height: 40px;
            display: inline-block; }
          #nav .container .nav_r #goods .price .total {
            color: #e53;
            font-size: 22px;
            font-weight: bold;
            height: 40px;
            display: inline-block; }
        #nav .container .nav_r #goods .links {
          width: 180px;
          height: 40px;
          background: #f3f3f3;
          padding-left: 120px; }
          #nav .container .nav_r #goods .links a {
            display: inline-block;
            background: #e53;
            color: #fff;
            font-size: 22px;
            line-height: 36px;
            width: 100px;
            height: 36px;
            text-align: center; }
      #nav .container .nav_r:hover #goods {
        display: block;
        border: 2px solid #e53; }

#search {
  background: #f3f3f3;
  padding-bottom: 8px;
  margin-bottom: 16px;
  z-index: 10; }
  #search .container {
    width: 990px;
    margin: 0 auto; }
    #search .container .search_l {
      width: 385px;
      height: 42px; }
      #search .container .search_l .web {
        padding-top: 10px; }
        #search .container .search_l .web a {
          display: inline-block;
          color: #333;
          font-size: 12px;
          line-height: 32px; }
          #search .container .search_l .web a:hover {
            color: #ff6655; }
        #search .container .search_l .web span {
          display: inline-block;
          color: #333;
          font-size: 12px;
          line-height: 32px;
          padding: 0 3px; }
      #search .container .search_l .input {
        width: 170px;
        height: 24px;
        padding: 4px;
        margin-top: 10px;
        border: 1px solid #ccc;
        position: relative;
        margin-left: 20px; }
        #search .container .search_l .input i {
          display: inline-block;
          position: absolute;
          right: 15px;
          top: 10px;
          font-size: 12px; }
        #search .container .search_l .input input {
          height: 20px;
          float: left;
          background: #f3f3f3; }
    #search .container .search_r {
      width: 72px;
      height: 32px;
      margin-top: 10px;
      padding-right: 10px; }
      #search .container .search_r a {
        display: inline-block;
        color: #333;
        text-align: center;
        line-height: 32px;
        font-size: 12px; }
      #search .container .search_r:hover a {
        color: #ff6655; }

#dog {
  padding-top: 16px; }
  #dog .container {
    width: 990px;
    margin: 0 auto; }
    #dog .container .asider {
      width: 180px; }
      #dog .container .asider .goodcate {
        width: 180px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd; }
        #dog .container .asider .goodcate h2 {
          width: 158px;
          height: 26px;
          border: 1px solid #ddd;
          border-top: 0 none;
          padding: 6px 10px;
          font-size: 16px;
          line-height: 26px;
          color: #333;
          background: #f3f3f3; }
          #dog .container .asider .goodcate h2 i {
            display: inline-block;
            margin-right: 20px; }
        #dog .container .asider .goodcate .goodcate_c li {
          padding: 0 10px;
          background: #f3f3f3;
          border: 1px solid #ddd;
          border-top: 0 none; }
          #dog .container .asider .goodcate .goodcate_c li h3 {
            width: 159px;
            height: 20px;
            padding: 10px 0; }
            #dog .container .asider .goodcate .goodcate_c li h3:hover {
              color: #ff6655; }
          #dog .container .asider .goodcate .goodcate_c li .service {
            margin-bottom: 5px;
            display: none; }
            #dog .container .asider .goodcate .goodcate_c li .service a {
              display: inline-block;
              padding: 6px 10px;
              color: #333;
              font-size: 14px; }
              #dog .container .asider .goodcate .goodcate_c li .service a:hover {
                color: #fff;
                background: #ff6655;
                text-decoration: underline; }
          #dog .container .asider .goodcate .goodcate_c li .show {
            display: block; }
        #dog .container .asider .goodcate .goodcate_c .active {
          background: #fff;
          border-right: 0 none; }
    #dog .container .main {
      width: 790px; }
      #dog .container .main .brand {
        width: 790px;
        height: 200px; }
      #dog .container .main .sort {
        width: 776px;
        height: 36px;
        padding: 0 6px;
        border: 1px solid #ddd;
        background: #f3f3f3;
        line-height: 36px; }
        #dog .container .main .sort .sort_l {
          height: 24px; }
          #dog .container .main .sort .sort_l .active {
            background: #ee5533;
            color: #fff; }
          #dog .container .main .sort .sort_l .rank {
            display: inline-block;
            width: 48px;
            height: 22px;
            padding: 0 5px;
            border: 1px solid #ddd;
            font-size: 12px;
            text-align: center;
            line-height: 22px;
            margin-left: 6px; }
          #dog .container .main .sort .sort_l .sousuo {
            display: inline-block;
            line-height: 24px; }
            #dog .container .main .sort .sort_l .sousuo a {
              display: inline-block;
              margin-left: 10px;
              color: #444; }
            #dog .container .main .sort .sort_l .sousuo i {
              display: inline-block;
              width: 13px;
              height: 13px;
              border: 1px solid #ddd;
              margin: 5px 5px 0 0; }
        #dog .container .main .sort .sort_r {
          height: 24px; }
          #dog .container .main .sort .sort_r .sort_rl {
            font-size: 12px;
            padding-top: 6; }
            #dog .container .main .sort .sort_r .sort_rl span {
              color: #444;
              display: inline-block;
              padding: 0 3px; }
            #dog .container .main .sort .sort_r .sort_rl .page {
              color: #ff6655; }
            #dog .container .main .sort .sort_r .sort_rl .tatal {
              color: #444; }
          #dog .container .main .sort .sort_r .sort_rr {
            margin-left: 20px; }
            #dog .container .main .sort .sort_r .sort_rr span {
              display: inline-block;
              width: 22px;
              height: 22px;
              border: 1px solid #e6e6e6;
              text-align: center;
              background: #e3e3e3;
              margin-top: 6px;
              font-size: 16px;
              line-height: 22px; }
      #dog .container .main #goodslist .list {
        width: 790px; }
        #dog .container .main #goodslist .list .gqg {
          width: 170px;
          display: inline-block;
          margin-right: 10px;
          padding: 5px;
          border: 2px solid #fff; }
          #dog .container .main #goodslist .list .gqg:hover {
            border: 2px solid #ee5533; }
        #dog .container .main #goodslist .list li {
          width: 170px;
          height: 324px;
          display: inline-block; }
          #dog .container .main #goodslist .list li img {
            width: 170px;
            display: block;
            height: 170px; }
          #dog .container .main #goodslist .list li .sale {
            display: inline-block;
            height: 22px;
            padding: 0 5px;
            line-height: 22px;
            font-size: 16px;
            color: #ee5533;
            font-weight: bold; }
          #dog .container .main #goodslist .list li .price {
            display: inline-block;
            height: 22px;
            padding: 0 5px;
            line-height: 22px;
            font-size: 14px;
            font-weight: bold;
            color: #666; }
          #dog .container .main #goodslist .list li .discount {
            height: 22px;
            font-size: 12px;
            line-height: 22px;
            padding: 0 5px;
            border: 1px solid #EE5533;
            color: #EE5533;
            background: #fff;
            width: 140px; }
          #dog .container .main #goodslist .list li .name {
            height: 36px;
            padding-top: 4px;
            line-height: 18px;
            font-size: 12px;
            color: #333; }
            #dog .container .main #goodslist .list li .name:hover {
              color: #ff6655; }
          #dog .container .main #goodslist .list li .event {
            height: 22px;
            line-height: 22px;
            font-size: 12px;
            color: #ff6655;
            padding: 4px 0; }
          #dog .container .main #goodslist .list li div {
            height: 32px;
            margin-bottom: 15px; }
            #dog .container .main #goodslist .list li div .volume {
              color: #999;
              font-size: 12px;
              line-height: 16px; }
            #dog .container .main #goodslist .list li div .review {
              color: #333;
              font-size: 12px;
              line-height: 16px; }
              #dog .container .main #goodslist .list li div .review a {
                color: #ff6655; }
        #dog .container .main #goodslist .list .click {
          width: 170px;
          display: inline-block;
          margin-right: 10px;
          padding: 5px;
          border: 2px solid #fff; }
          #dog .container .main #goodslist .list .click .btncar {
            display: inline-block;
            width: 99px;
            margin-right: 1px;
            height: 30px;
            font-size: 12px;
            line-height: 30px;
            background: #f3f3f3;
            border: 1px solid #e6e6e6;
            text-align: center; }
            #dog .container .main #goodslist .list .click .btncar i {
              color: #ff6655; }
            #dog .container .main #goodslist .list .click .btncar:hover {
              background: #ee5533;
              color: #fff; }
            #dog .container .main #goodslist .list .click .btncar:hover i {
              color: #fff; }
          #dog .container .main #goodslist .list .click .collect {
            display: inline-block;
            height: 30px;
            font-size: 12px;
            line-height: 30px;
            background: #f3f3f3;
            border: 1px solid #e6e6e6;
            text-align: center;
            width: 60px; }
            #dog .container .main #goodslist .list .click .collect:hover {
              background: #ee5533;
              color: #fff; }
      #dog .container .main .pagination {
        margin: 30px 0 30px 30px; }
        #dog .container .main .pagination span {
          display: inline-block;
          height: 36px;
          border: 1px solid #e6e6e6;
          padding: 0 12px;
          font-size: 14px;
          line-height: 36px;
          margin-right: 5px; }
          #dog .container .main .pagination span:hover {
            border: 1px solid #ff6655;
            color: #ff6655; }
        #dog .container .main .pagination .active {
          background: #ee5533;
          color: #fff; }
          #dog .container .main .pagination .active:hover {
            color: #fff; }

#promise {
  background: #ff6655; }
  #promise .container {
    width: 990px;
    margin: 0 auto; }
    #promise .container ul {
      height: 90px;
      padding: 15px 0px; }
      #promise .container ul li {
        width: 197px;
        border-right: 1px dashed #ffb3aa;
        height: 90px;
        text-align: center;
        color: #fff; }
      #promise .container ul li:last-of-type {
        border-right: 0 none; }

#links {
  background: #f3f3f3; }
  #links .container {
    width: 990px;
    margin: 0 auto;
    padding: 15px 0; }
    #links .container dl {
      width: 70px;
      height: 121px;
      margin-left: 110px; }
      #links .container dl dt {
        padding-top: 5px;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        color: #464646; }
      #links .container dl dd {
        padding-top: 6px;
        font-size: 12px;
        line-height: 14px; }
        #links .container dl dd a {
          color: #333; }
        #links .container dl dd:hover a {
          color: #ff6655; }

#footer {
  background: #FFF; }
  #footer .footer_c {
    padding: 20px 0; }
    #footer .footer_c p {
      text-align: center;
      font-size: 12px;
      line-height: 22px;
      height: 22px; }
      #footer .footer_c p a {
        color: #333;
        display: inline-block; }
        #footer .footer_c p a:hover {
          text-decoration: underline; }
      #footer .footer_c p img {
        margin-right: 10px; }
